<div class="">Readable</div>	
<div align="right">
	<a href="/logout"><button>Logout</button></a>
</div>

<div class="containter book-row">
	<div class="border" ng-repeat="data in books">
		<img class="bookCover" ng-click="toggleModal($index)" ng-src="{{data.book.image_url}}">
		<h2 class="book-title"> {{ data.book.title }}</h2>
		<h3> {{ data.book.authors.author.name }} </h3>
		
		<modal-dialog show='modalShown[$index]' width='620px' height='67%'>
			<p class="">Create a goal for finishing this book!<p>
			<div class="col1">
			  <datepicker date-format="longDate">
			  	<input placeholder="Choose a date" ng-model="date" type="text" ng-change="onChange(date, data)"/>
				</datepicker>
			</div>
			<div class="col2">
				<p class="modalImage"> {{ message }} </p>
				<img class="modalImage" ng-src="{{data.book.image_url}}">
			</div>
		</modal-dialog>

	</div>
</div>


