* {
  color: #40576E;
  font-family: 'Poiret One', cursive;
}

p, h2, h3, h4, h5, input {
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 100;
}

.backgroundImg {
  background: url("images/books-484766_1920.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   -ms-background-size: cover;
   height: 700px;
}

.header {
	text-align: center;
	font-size: 75px;
  padding: 75px 0;
}

.mainHead {
  font-size: 60px;
  padding: 30px 0 30px 30px;
}

.wrapper {
  width: 55%;
}

.wordWrap {
  text-align: center;
}

.logoutButton {
  float: right;
  margin: 60px;
}

.loginButton {
  margin-top: 75px;
  padding: 20px;
}

a {
  text-decoration: none;
}

.containter {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}

.book-row {
	width: 100%;
}

.book-title {
	font-size: 25px;
	word-wrap: break-word;
	width: 250px;
}

.border {
	margin: 10px;
}

.bookCover {
  height: 350px;
  width: 250px;
}
/******************** Progress Bar ***********************/
.progress { 
  color: #40576E;
  height: 3em;
  i { line-height: 3.5em; }
}

.progress-bar { 
  transition: width 1s ease-in-out; 
}

/*********************** MODAL STYLES ***********************/
.modalAddButton {
  padding: 3px;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.modalImage {
  padding-left: 15%;
  font-size: 25px;
}
  
.modalHead {
  font-size: 36px;
  text-align: center;
}

.col1 {
 width: 48%;
 margin: 30px 0 0 20px;
}

.col2 {
  float: right;
  width: 48%;
  margin-top: -20px;
}

.top-gut {
  margin-top: 26%;
}